---

---

<article class="intro-art">
  <img src="/sayas-1/media/images/sayas.jfif" alt="Sayas" />
  <div class="intro-text">
    <p>
      Al nostre taller de Vacarisses, combinem tradició i artesania per donar
      una nova vida als violins antics. Amb una restauració meticulosa i
      respectuosa amb la seva essència original, ens assegurem que cada
      instrument recuperi la seva sonoritat i bellesa.
    </p>
    <br /><span class="firma">Lluís Sayas</span>
  </div>
</article>

<style>
  .intro-art {
    borde
    padding: 20px;
    background-color: #cdb49a;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .intro-art img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    margin-right: 40px;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
  }
  .firma {
    font-weight: bold;
    font-style: italic;
    align-self: flex-end;
  }
  .intro-art h2 {
    color: #412202;
  }
  @media (max-width: 480px) {
    .intro-art {
      flex-direction: column;
      justify-content: space-between;
    }
    .intro-art img {
      margin-bottom: 0;
    }
  }
</style>
